@page "/Admin/SettingMenu"
@using System.Net.Http.Headers
@using System.Text
@using System.Text.Json
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage
@inject IConfiguration Configuration
@inject NavigationManager Navigation
@inject IMessageService _message

<GridRow>
    <GridCol Span="12">
        <PageHeader Class="site-page-header" Title="Menu" Subtitle="菜单设置" />
    </GridCol>
    <GridCol Span="12" style="display: flex; justify-content: flex-end;">

    </GridCol>
    <GridCol Span="4">
        <Input Placeholder="角色" Size="@InputSize.Default" @bind-Value="@PaginationStudent.RoleName">
            <Prefix>
                <Icon Type="user" />
            </Prefix>
        </Input>
    </GridCol>
    <GridCol Span="2" Style="margin-left:5px">
        <Button Type="@ButtonType.Primary" OnClick="_=>LoadTeacherData()">搜索</Button>
    </GridCol>
    <GridCol Span="17" Style="width:100%;text-align:right;">
        <Button Type="@ButtonType.Primary" OnClick="_=>AddOpen()" Style="width:8vw">添加</Button>
    </GridCol>
</GridRow>
<GridRow>
    <GridCol Span="24" Style="height:100vh;">
        <Table TItem="Menu" DataSource="_m" @bind-PageSize="PaginationStudent.PageSize">
            <ChildContent Context="data">
                @foreach (var column in _columns)
                {
                    <Column TData="object" DataIndex="@column"></Column>
                }
                <ActionColumn Title="Action">
                    <Space Size=@("middle")>
                        <SpaceItem>
                            <Button Icon="edit" Type="@ButtonType.Primary" @onclick="_=>Open(data)">编辑</Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Popconfirm Placement="@Placement.Bottom" Title="确定要删除吗？" OnConfirm="_=>Delete((int)data.id!)">
                                <Button Icon="delete" Danger Type="@ButtonType.Primary">删除</Button>
                            </Popconfirm>
                        </SpaceItem>
                    </Space>
                </ActionColumn>
            </ChildContent>
            <PaginationTemplate>
                <Pagination Total="PaginationStudent.Total"
                ShowSizeChanger="false"
                PageSize="PaginationStudent.PageSize"
                Current="PaginationStudent.Index"
                OnChange="Callback" />
            </PaginationTemplate>
        </Table>
    </GridCol>
</GridRow>


<Drawer Closable="true" Width="720" Visible="_isSee" Title='("修改信息")' OnClose="_=>Close()">
    <Template style="height:90%">
        <Row Gutter="16">
            <AntDesign.Col Span="12">
                <Text>Href</Text>
                <Input  @bind-Value="@EditClass.href"></Input>
            </AntDesign.Col>
            <AntDesign.Col Span="12">
                <Text>Name</Text>
                <Input @bind-Value="@EditClass.name"></Input>
            </AntDesign.Col>
        </Row>
        <br />
        <Row Gutter="16">
            <AntDesign.Col Span="12">
                <Text>Icon</Text>
                <Input  @bind-Value="@EditClass.icon"></Input>
            </AntDesign.Col>
            <AntDesign.Col Span="12">
                <Text>Sequence</Text>
                <Input @bind-Value="@EditClass.sequence"></Input>
            </AntDesign.Col>
        </Row>
        <br />
        <Row Gutter="16">
            <AntDesign.Col Span="12">
                <Text>RoleName</Text>
                <Input Disabled="true" @bind-Value="@EditClass.roleName"></Input>
            </AntDesign.Col>
            <AntDesign.Col Span="12">
               
            </AntDesign.Col>
        </Row>
       <br/>

        <Row>
            <AntDesign.Col Span="18">

            </AntDesign.Col>
            <AntDesign.Col Span="6">
                <Button Type="default" @onclick="_=>Close()">取消</Button>
                <Button Type="primary" @onclick="_=>Edit()">提交</Button>
            </AntDesign.Col>
        </Row>
    </Template>
</Drawer>


<Drawer Closable="true" Width="720" Visible="_isAddSee" Title='("添加信息")' OnClose="_=>Close()">
    <Template style="height:90%">
        <Row Gutter="16">
            <AntDesign.Col Span="12">
                <Text>Href</Text>
                <Input Placeholder="路径" @bind-Value="@EditClass.href"></Input>
            </AntDesign.Col>
            <AntDesign.Col Span="12">
                <Text>Name</Text>
                <Input Placeholder="描述" @bind-Value="@EditClass.name"></Input>
            </AntDesign.Col>
        </Row>
        <br />
        <Row Gutter="16">
            <AntDesign.Col Span="12">
                <Text>Icon</Text>
                <Input Placeholder="图标路径" @bind-Value="@EditClass.icon"></Input>
            </AntDesign.Col>
            <AntDesign.Col Span="12">
                <Text>Sequence</Text>
                <Input Placeholder="序列" @bind-Value="@EditClass.sequence"></Input>
            </AntDesign.Col>
        </Row>
        <br />
        <Row Gutter="16">
            <AntDesign.Col Span="12">
                <Text>RoleName</Text>
                @* <Input Placeholder="角色" @bind-Value="@EditClass.roleName"></Input> *@
                <SimpleSelect DefaultValue="1" @bind-Value="@SelRole">
                    <SelectOptions>
                        <SimpleSelectOption Value="1" Label="管理员"></SimpleSelectOption>
                        <SimpleSelectOption Value="2" Label="学生"></SimpleSelectOption>
                        <SimpleSelectOption Value="3" Label="教师"></SimpleSelectOption>
                    </SelectOptions>
                </SimpleSelect>
            </AntDesign.Col>
            <AntDesign.Col Span="12">
               
            </AntDesign.Col>
        </Row>
        <br/>

        <Row>
            <AntDesign.Col Span="18">

            </AntDesign.Col>
            <AntDesign.Col Span="6">
                <Button Type="default" @onclick="_=>AddClose()">取消</Button>
                <Button Type="primary" @onclick="_=>Add()">提交</Button>
            </AntDesign.Col>
        </Row>
    </Template>
</Drawer>


@code {
    private string? Token { get; set; }
    private string? Ip { get; set; }
    private bool _hasLoadedData = false;

    readonly string[] _columns = [ "href", "name", "icon", "sequence", "roleId", "roleName"];

    private List<Menu>? _m { get; set; }

    private bool _isSee { get; set; } = false;
    private bool _isAddSee { get; set; } = false;

    private string? SelRole { get; set; }


    MessageConfig config = new MessageConfig()
        {
            Content = "加载数据中...",
            Key = $"updatable-{DateTime.Now.Ticks}"
        };

    MessageConfig config1 = new MessageConfig()
        {
            Content = "处理中...",
            Key = $"updatable-{DateTime.Now.Ticks}"
        };


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_hasLoadedData)
        {
            await LoadConfiguration();
            await TableInit(await GetMenuInfo());
            StateHasChanged();
            _hasLoadedData = true;
        }
    }

    private async Task LoadConfiguration()
    {
        Token = (await LocalStorage.GetItemAsync<string>("jwtToken"))!;
        Ip = Configuration.GetSection("Ip")["ApiGateWay"];
    }

    private async Task<HttpResponseMessage> GetMenuInfo()
    {
        _message.Loading(config);

        var url = $"{Ip}/api/Menu/GetMenuList";
        using var httpClient = new HttpClient();
        httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", Token);

        var jsonContent = new
        {
            index = PaginationStudent.Index,
            pageSize = PaginationStudent.PageSize,
            roleName = PaginationStudent.RoleName
        };

        var content = new StringContent(System.Text.Json.JsonSerializer.Serialize(jsonContent), Encoding.UTF8, "application/json");
        var response = await httpClient.PostAsync(url, content);

        return response;
    }

    private async Task TableInit(HttpResponseMessage msg)
    {
        var jsonResponse = await msg.Content.ReadAsStringAsync();
        var teacherResponse = JsonSerializer.Deserialize<ResponseModel>(jsonResponse);
        _m = teacherResponse!._menus;
        PaginationStudent.Total = teacherResponse.total;

        config.Content = "加载成功！";
        config.Duration = 1;
        await _message.Success(config);
    }


    private async Task Callback(PaginationEventArgs obj)
    {
        PaginationStudent.Index = obj.Page;
        await LoadTeacherData();
    }

    private async Task LoadTeacherData()
    {
        var response = await GetMenuInfo();
        await TableInit(response);
    }

    void Open(Menu m)
    {
        EditClass.id = m.id;
        EditClass.href = m.href;
        EditClass.name = m.name;
        EditClass.icon = m.icon;
        EditClass.sequence = m.sequence;
        EditClass.roleName = m.roleName;

        this._isSee = true;
    }

    void Close()
    {
        EditClass.id = null;
        EditClass.href = null;
        EditClass.name = null;
        EditClass.icon = null;
        EditClass.sequence = null;
        EditClass.roleName = null;
        this._isSee = false;
    }

    void AddOpen()
    {
        EditClass.id = null;
        EditClass.href = null;
        EditClass.name = null;
        EditClass.icon = null;
        EditClass.sequence = null;
        EditClass.roleName = null;

        _isAddSee = true;
    }

    void AddClose()
    {
        EditClass.id = null;
        EditClass.href = null;
        EditClass.name = null;
        EditClass.icon = null;
        EditClass.sequence = null;
        EditClass.roleName = null;

        _isAddSee = false;
    }

    private async Task Add()
    {
        _message.Loading(config1);

        var url = $"{Ip}/api/Menu/AddMenu";
        using var client = new HttpClient();
        client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", Token);

        var menu = new
        {
            href = EditClass.href,
            name = EditClass.name,
            icon = EditClass.icon,
            sequence = EditClass.sequence,
            roleId = System.Convert.ToInt32(SelRole)
        };
        var json = JsonSerializer.Serialize(menu);
        var content = new StringContent(json, Encoding.UTF8, "application/json");

        var response = await client.PostAsync(url, content);

        if (response.IsSuccessStatusCode)
        {
            config1.Content = "处理成功!";
            config1.Duration = 1;
            await _message.Success(config1);
            AddClose();
            await LoadTeacherData();
        }
    }

    private async Task Edit()
    {
        _message.Loading(config1);

        var url = $"{Ip}/api/Menu/UpdMenuById";

        using var client = new HttpClient();
        client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", Token);

        var menu = new
        {
            id = EditClass.id,
            href = EditClass.href,
            name = EditClass.name,
            icon = EditClass.icon,
            sequence = EditClass.sequence,
            roleId = (EditClass.roleName) switch
            {
                "管理员" => 1, 
                "学生"=> 2,
                "教师"=> 3,
                _ => 0 
            },
            roleName = EditClass.roleName
        };
        var json = JsonSerializer.Serialize(menu);
        var content = new StringContent(json, Encoding.UTF8, "application/json");

        var response = await client.PostAsync(url, content);

        if (response.IsSuccessStatusCode)
        {
            config1.Content = "处理成功!";
            config1.Duration = 1;
            await _message.Success(config1);
            Close();
            await LoadTeacherData();
        }
    }

    private async Task Delete(int id)
    {
        var url = $"{Ip}/api/Menu/DelMenuById?id={id}";
        using var client = new HttpClient();
        client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", Token);

        var response = await client.PostAsync(url, new StringContent(string.Empty));
        if (response.IsSuccessStatusCode)
        {
            await _message.Success("删除成功!");
            await LoadTeacherData();
        }
    }

    private class Menu
    {
        public int? id { get; set; }
        public string? href { get; set; }
        public string? name { get; set; }
        public string? icon { get; set; }
        public int? sequence { get; set; }
        public int? roleId { get; set; }
        public string? roleName { get; set; }

    }

    private static class PaginationStudent
    {
        public static int Index { get; set; } = 1;
        public static int Total { get; set; }
        public static int PageSize { get; set; } = 10;
        public static string? RoleName { get; set; } = "";
    }

    private class ResponseModel
    {
        public List<Menu> _menus { get; init; }
        public int total { get; init; }
    }

    private static class EditClass
    {
        public static int? id { get; set; }
        public static string? href { get; set; }
        public static string? name { get; set; }
        public static string? icon { get; set; }
        public static int? sequence { get; set; }
        public static string? roleName { get; set; }
    }
}
